<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Projects", projects_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @project.name %></li>
  </ol>
</nav>

<%= render @project %>

<div>
  <%= link_to "Edit this project", edit_project_path(@project) %> |
  <%= link_to "Back to projects", projects_path %> |
  <%= link_to "Tasks", project_tasks_path(@project) %>

  <%= button_to "Destroy this project", @project, method: :delete %>
</div>
